footer.footer
    .footer-all
        .footer-all__connect
            .left
                .left__title Свяжитесь с нами
                .left__subtitle Мы будем рады проконсультировать вас по вопросам обслуживания или открытия студии в коворкинге. 
            .right
                form(action="")
                    input(type="text", name="", placeholder="Ваше имя *")
                    input(type="email", name="", placeholder="Ваш email *")
                    textarea(name="", placeholder="Напишите ваш вопрос здесь *")
                .accept
                    .accept__text Нажимая на кнопку, вы даете <a href="#">согласие</a> на обработку персональных данных и соглашаетесь с политикой конфиденциальности.
                    a(href="#").accept__button
                        span подробнее
                        .ver-hr
        .hr
        .footer-all__about
            .left
                .left__logo
                    a(href="#")
                        img(src="img/logo.png", alt="logo") 
                .left__tel
                    a(href="tel:+74950238750") +7 (495) 023-87-50
                .left__email
                    a(href="email:info@imena.studios") info@imena.studios
                .left__socials
                    .left__socials__item
                        a(href="#")
                            img(src="img/facebook.svg", alt="facebook") 
                    .left__socials__item
                        a(href="#")
                            img(src="img/vk.svg", alt="vk") 
                    .left__socials__item
                        a(href="#")
                            img(src="img/insta.svg", alt="insta") 
                    .left__socials__item
                        a(href="#")
                            img(src="img/youtube.svg", alt="youtube")                 
            .right
                .right__one
                    ul
                        li
                            a(href="#") Главная
                        li
                            a(href="#") Коворкинги
                        li
                            a(href="#") Обучение
                        li
                            a(href="#") Блог
                        li
                            a(href="#") Франшиза
                        li
                            a(href="#") Контакты
                .right__two
                    .title О нас
                    ul
                        li
                            a(href="#") Наши студии
                        li
                            a(href="#") Клиентам
                        li
                            a(href="#") Владельцам помещений
                        li
                            a(href="#") Инвесторам
                .right__three
                    a(href="#") 
                        .right__client
                            .right__client__img
                                img(src="img/cabinet.svg", alt="client")
                            .right__client__text Кабинет клиента
                    a(href="#") 
                        .right__master
                            .right__master__img
                                img(src="img/cut.svg", alt="master")
                            .right__master__text Кабинет мастера
                    a(href="#") 
                        .right__entry
                            .right__entry__img
                                img(src="img/entry.svg", alt="entry")
                            .right__entry__text Онлайн-запись
        .hr
        .footer-all__copy
            .text © Imena Studios 2019 | Все права защищены
            .conf
                a(href="#") Политика конфиденциальности
            .atman
                img(src="img/atman.png", alt="atman")