header.header
    .header-all
        .header-all__top
            .contacts
                .contacts__tel
                    a(href="tel:+74950238750") +7 (495) 023-87-50
                .contacts__email
                    a(href="email:info@imena.studios") info@imena.studios
                .ver-hr
                .contacts__socials
                    .contacts__socials__item
                        a(href="#")
                            img(src="img/facebook.svg", alt="facebook") 
                    .contacts__socials__item
                        a(href="#")
                            img(src="img/vk.svg", alt="vk") 
                    .contacts__socials__item
                        a(href="#")
                            img(src="img/insta.svg", alt="insta") 
                    .contacts__socials__item
                        a(href="#")
                            img(src="img/youtube.svg", alt="youtube") 
            .sign
                a(href="#") 
                    .sign__client
                        .sign__client__img
                            img(src="img/cabinet.svg", alt="client")
                        .sign__client__text Кабинет клиента
                a(href="#") 
                    .sign__master
                        .sign__master__img
                            img(src="img/cut.svg", alt="master")
                        .sign__master__text Кабинет мастера
                a(href="#") 
                    .sign__entry
                        .sign__entry__img
                            img(src="img/entry.svg", alt="entry")
                        .sign__entry__text Онлайн-запись
                .ver-hr
                .sign__lang
                    .sign__lang-img
                        img(src="img/rus.svg", alt="rus")
                    .sign__lang-text RU
                    .sign__lang-arrow
                        img(src="img/arrow.svg", alt="arrow")
        .header-all__bottom
            .logo
                a(href="#")
                    img(src="img/logo.png", alt="logo") 
            .nav
                ul
                    li
                        a(href="#")
                            span О нас
                            img(src="img/arrow.svg", alt="arrow")
                    li
                        a(href="#") Коворкинги
                    li
                        a(href="#") Франшиза
                    li
                        a(href="#") Обучение
                    li
                        a(href="#") Блог
                    li
                        a(href="#") Контакты
            .search
                .search__hr
                a(href="#").search__text Найти мастера или коворкинг
            .burger
                button.menu-icon(type='button')
                    i.fas.fa-bars
